<div class="card mb-10 mt-5">
 <!--begin::Card-->
 <p>stepper.component.html</p>
 <div class="card">
  <div class="card-body p-2 row">
   <div class="col-12">
    <ul class="nav nav-tabs nav-line-tabs fs-6">
     <!-- LINK Tab 1 -->
     <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab"
       >Vyber produktov a služieb</a
      >
     </li>
     <!-- LINK Tab 2 -->
     <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab">User data</a>
     </li>
     <!-- LINK Tab 3 -->
     <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab">Products</a>
     </li>
    </ul>

    <div class="tab-content d-flex justify-content-center">
     <div [ngSwitch]="step" class="col-6">
      <div *ngSwitchCase="1">
       <div class="tab-pane fade show active">
        <app-form1 (submitForm1Event)="submitForm1($event)"></app-form1>
       </div>
      </div>
      <div *ngSwitchCase="'2'">
       <app-form2></app-form2>
      </div>
      <div *ngSwitchCase="'3'">
       <app-form3></app-form3>
      </div>
     </div>
    </div>

    <div class="container mt-5">
     <div class="row">
      <div class="col-4"></div>
      <div class="col-4">
       <button type="button" class="btn btn-primary me-2" (click)="back()">
        back
       </button>
       <button type="button" class="btn btn-primary" (click)="next()">
        next
       </button>
      </div>
      <div class="col-4"></div>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
