<div class="content">
 <h3 class="text-center">Formular.component.html</h3>
 <h4>Reactive form , FormGroup, Form Control, Validator,</h4>
 <h5>
  Treba si poziert ze FormGroup,control su vlastne objektz ktore maju svoje
  stavy hodnoty a funkcie pomocou pristupujeme k datam potrebne na validaciu atd
 </h5>
 <p>
  <a
   href="https://remotestack.io/angular-reactive-forms-validation-tutorial-example/"
   >website link</a
  >
 </p>

 <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" novalidate>
  <br />
  {{ userForm.value | json }}
  {{ userForm.valid }}
  <div class="form-group">
   <label>Name</label>
   <input type="text" class="form-control" formControlName="name" />

   <!--  -->
   <div class="text-danger">touched {{ getControl.name.touched }}</div>
   <div class="text-danger">untouched {{ getControl.name.untouched }}</div>
   <div class="text-danger">valid {{ getControl.name.valid }}</div>
   <div class="text-danger">invalid {{ getControl.name.invalid }}</div>
   <div class="text-danger">pending {{ getControl.name.pending }}</div>
   <div class="text-danger">pristine {{ getControl.name.pristine }}</div>
   <div class="text-danger">dirty {{ getControl.name.dirty }}</div>

   <!--  -->
   <div
    *ngIf="
     (getControl.name.touched || getControl.name.dirty) &&
     getControl.name.invalid
    "
    class="text-danger">
    <!-- iba iny pristup ako vypisovat  chyby a metadata  ,, problem with null  -->
    <!-- <div *ngIf="getName.invalid && getName.touched">Invalid and touched</div> -->
    <!--  -->
    <!--  below 3 way how to dispaly error , with diffrent conditions -->
    <div *ngIf="getControl.name.errors?.required">Name is required1.</div>
    <div *ngIf="getNameErrors?.required">Name is required 2.</div>
    <div *ngIf="getName?.errors?.required">Name is required 3</div>

    <!--  -->
    <div *ngIf="getControl.name.errors?.maxlength">Maximum character is 8.</div>
    <div *ngIf="getName?.errors?.maxlength">
     Maximum getName character is 8.
    </div>
    <div *ngIf="getControl.name.errors?.maxlength">
     Maximum character iss {{ getName?.errors?.maxlength.requiredLength }}. your
     is {{ getName?.errors?.maxlength.actualLength }}
    </div>
    <div *ngIf="getControl.name.errors?.minlength">
     Minimum 4 character are srequired.
    </div>
   </div>

   <!-- code up , vyskusanie aktualne dlzki retazca , pristupovanie max pozadovanej dlzky
   -->
  </div>

  <div class="form-group">
   <label>Email</label>
   <input type="text" class="form-control" formControlName="email" />
   <div
    *ngIf="getControl.email.touched && getControl.email.invalid"
    class="text-danger">
    <div *ngIf="getControl.email.errors?.required">Email is required.</div>
    <div *ngIf="getControl.email.errors?.email">Email seems invalid.</div>
    <div *ngIf="getControl.email.errors?.pattern">
     Email is invalid because Validator Pattern
    </div>
   </div>
  </div>

  <div class="form-group">
   <label>Phone</label>
   <input type="text" class="form-control" formControlName="phone" />
   <div
    *ngIf="getControl.phone.touched && getControl.phone.invalid"
    class="text-danger">
    <div *ngIf="getControl.phone.errors?.required">Phone is required.</div>
    <div *ngIf="getControl.phone.errors?.pattern">
     Invalid phone number. Only number idiot.
    </div>
    <div *ngIf="getControl.phone.errors?.minlength">
     Minimum 10 character are required.
    </div>
   </div>
  </div>

  <div class="form-group">
   <label>Password</label>
   <input type="text" class="form-control" formControlName="password" />
   <div
    *ngIf="getControl.password.touched && getControl.password.invalid"
    class="text-danger">
    <div *ngIf="getControl.password.errors?.required">
     Password is required.
    </div>

    <div *ngIf="getControl.password.errors?.minlength">
     Min length is 8 symbols/characters
    </div>

    <div
     class="field-message"
     *ngIf="getControl.password.errors?.passwordStrength">
     Your password must have lower case, upper case and numeric characters.
    </div>
   </div>
  </div>

  <div class="form-group">
   <label>Repeat password </label>
   <input type="text" class="form-control" formControlName="password2" />
   <div
    *ngIf="getControl.password2.touched && getControl.password2.invalid"
    class="text-danger">
    <div *ngIf="getControl.password2.errors?.required">
     Password is required.
    </div>

    <div *ngIf="getControl.password2.errors?.mustMatch">
     Passwords do NOT match.
    </div>
   </div>
  </div>

  <div class="form-group">
   <label>Message</label>
   <textarea
    type="text"
    class="form-control"
    formControlName="message"></textarea>
   <div
    *ngIf="getControl.message.touched && getControl.message.invalid"
    class="text-danger">
    <div *ngIf="getControl.message.errors?.required">Message is required.</div>
   </div>
  </div>

  <div class="text-danger">
   <p [hidden]="userForm.valid">Nevyplneni Formular</p>
  </div>
  <button
   [disabled]="userForm.invalid"
   class="btn btn-danger btn-block mt-2"
   type="submit">
   Submit
  </button>
 </form>
</div>
