<nav>
  <ul>
    <li><a routerLink="/tasks">Tasks </a></li>

    <li><a routerLink="/post">Post </a></li>

    <li><a routerLink="/demo">Demo </a></li>
    <li><a routerLink="/fruits">Fruits </a></li>
    <li><a routerLink="/form">Form </a></li>
    <li><a routerLink="/formular">Formular </a></li>
    <li><a routerLink="/registration">Registration </a></li>
    <li><a routerLink="/formArray">FormArray </a></li>
    <li><a routerLink="/formArrayTwo">FormArray Two </a></li>
    <li><a routerLink="/smeComponent"> SME form </a></li>
    <li><a routerLink="/imperative">imperative</a></li>
    <li><a routerLink="/declarative">declarative</a></li>
    <li><a routerLink="/stream">Stream</a></li>
  </ul>
</nav>
{{ triggerApp() }}
<router-outlet></router-outlet>
