*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav {
      display: flex;
        justify-content: flex-start;
        align-items: center;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  list-style-type: none;
}
nav li{
  margin: 5px;
}
nav a{
  padding: 5px;
  color: black;
  text-decoration: none;
  background-color: #f5f5f5;
}

nav p {
  border: 1px solid black;
  padding: 10px;
}

nav a:hover{
  background-color: aquamarine;
}
