<div class="card mb-10">
  <h3>form.component.html</h3>
 <!--begin::Card-->
 <div class="card">
  <div class="card-body p-5 row">
   <div class="col-12">
    <ul class="nav nav-tabs nav-line-tabs mb-5 fs-6">
     <!-- LINK Tab 1 -->
     <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#kt_tab_pane_1"
       >Vyber produktov a služieb</a
      >
     </li>
     <!-- LINK Tab 2 -->
     <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_2"
       >Zoznam vybranych produktov
      </a>
     </li>
     <!-- LINK Tab 3 -->
     <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_3"
       >Zoznam vymazanych produktov
      </a>
     </li>
    </ul>

    <div class="tab-content" id="myTabContent">
     <!-- Tab 1 -->
     <div class="tab-pane fade show active" id="kt_tab_pane_1" role="tabpanel">
      <h2>jednotka</h2>
     </div>
     <!-- Tab 2 -->
     <div class="tab-pane fade" id="kt_tab_pane_2" role="tabpanel">
      <h2>Dvojka</h2>
     </div>
     <!-- Tab 3 -->
     <div class="tab-pane fade" id="kt_tab_pane_3" role="tabpanel">
      <h3>Trojka</h3>
     </div>
    </div>
   </div>
  </div>
 </div>
</div>
